
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

 * {
   font-family: "Roboto";
   padding: 0;
   margin: 0;
 }

 a {
    text-decoration: none;
}

 /* Stlyes for paper grid effect

@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
font-family: Cedarville Cursive;
.Paper-grid {
  height: 100vh;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 160px, #abced4 19px, #abced4 162px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  padding: 1rem;
}
 */

 h1 {
    font-family: "Roboto Condensed";
}

h2 {
    margin-top: 1em;
    font-family: "Roboto Condensed";
}

h4 {
    margin-top: .25em;
    color: #505050;
    font-family: "Roboto";
}
p {
    margin-top: 1em;
    font-family: "Roboto";
}

hr {
  border: none;
  border-bottom: 1px solid #505050;
  margin: 2em 0em;
  margin-right: 25%;
}

ul {
  padding: 1em 0em 0em 2em;
}

 .App {
   height: 100vh;
 }

 .Main {
   height: 100%;
   display: flex;
   flex-direction: row;
 }

 .Container {
   overflow: scroll;
   width: 100%;
 }