.AddWordsForm-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}
.AddWordsForm-form input {
    margin-right: .75em;
}
.AddWordsForm-form button {
    border: none;
}

.AddWordsForm-form .icon {
    font-size: 3.3em;
    color: #c73636;
}