.CreateForm-info {}

.CreateForm label {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    align-items: flex-end;
}

.CreateForm select {
    margin-left: auto;
    margin-right: 24em;
    width: 200px;
    font-size: .75em;
}

.CreateForm input {
    margin-left: auto;
    margin-right: 18em;
    padding-left: .25em;
    font-size: 1em;
}

.CreateForm .WordField {
    margin: 0;
    height: 40px;
    max-width: 500px;
    border: none;
    border-bottom: 1px solid silver;
    margin-bottom: 1em;
}

.CreateForm-add-word {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.CreateForm-add-word input {
    margin: 0;
    width: 50%;
    height: 40px;
}

.CreateForm-add-word button {
    border: none;
    height: 40px;
    padding: none;
    margin-left: 2em;
    color: #c73636;
    margin-bottom: .5em;
}
.CreateForm-add-word .icon {
    font-size: 4.25em;
}


