@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Raleway|Roboto|Roboto+Condensed&display=swap');


.Navbar {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: .75rem 5rem .75rem 1em;
    align-items: center;
    border-bottom: 2px solid #d87171;
}

.Navbar-logo {
    width: 40px;
    height: 40px;
    padding: 1px 2px 3px 1px;
    border-radius: 3px;
    background-color: #c73636;
    color: #fafafa;
    font-family: 'Oleo Script', sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-right: .3em;
}

.Navbar-title {
    font-size: 1.8em;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #303030;
    /* font-family: 'Oleo Script', sans-serif; */
}
.Navbar-links {
    margin-left: auto;
}