/* .TableEntry {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    padding: 1em 1em;
    border-radius: 10px;
    margin: 2em auto;
    align-items: center;
    justify-content: flex-start;
} */

.TableEntry .icon {
    font-size: 1em;
    margin-right: 0;
}

.TableEntry-button {
    padding: .5em .5em;
    margin-right: 1em;
    border: none;
    background-color: #d87171;
    color: white;
    border-radius: 10px;
    font-size: 1em;
}

.TableEntry-button.icon {
    padding: .5em .5em;
    margin-right: 1em;
}

.TableEntry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
    border: 1px solid silver;
    border-radius: 8px;
    margin-bottom: .25em;
    height: 50px;
    max-width: 100%;
}

.TableEntry td {
    font-family: "Roboto Condensed";
    color: #303030;
    text-align: left;
    
}

.libraryName {
    flex: 3;
}
.authorName {
    flex: 3;
}
.date {
    flex: 2;
}
.wordCount {
    flex: 1;
}
.playCount {
    flex: 1;
}
.sortSpace {
    flex: 2;
    display: flex;
    flex-direction: row;
}
